body {
  margin:0px;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:546px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:0px 6px 14px rgba(0, 0, 0, 0.101960784313725);
  -webkit-box-shadow:0px 6px 14px rgba(0, 0, 0, 0.101960784313725);
  box-shadow:0px 6px 14px rgba(0, 0, 0, 0.101960784313725);
}
#u226 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:1600px;
  height:546px;
  display:flex;
}
#u226 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:201px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:680px;
  width:134px;
  height:201px;
  display:flex;
}
#u227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
body.a {  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u226.a {
}
#u226_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:546px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:0px 6px 14px rgba(0, 0, 0, 0.101960784313725);
  -webkit-box-shadow:0px 6px 14px rgba(0, 0, 0, 0.101960784313725);
  box-shadow:0px 6px 14px rgba(0, 0, 0, 0.101960784313725);
}
#u226.a {
}
#u226_text.a {
}
#u226 .text.a {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u227.a {
}
#u227_img.a {
}
#u227.a {
}
#u227_text.a {
}
#u227 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.b {  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u226.b {
}
#u226_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:546px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:0px 6px 14px rgba(0, 0, 0, 0.101960784313725);
  -webkit-box-shadow:0px 6px 14px rgba(0, 0, 0, 0.101960784313725);
  box-shadow:0px 6px 14px rgba(0, 0, 0, 0.101960784313725);
}
#u226.b {
}
#u226_text.b {
}
#u226 .text.b {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u227.b {
}
#u227_img.b {
}
#u227.b {
}
#u227_text.b {
}
#u227 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.c {  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:768px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u226.c {
}
#u226_div.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:546px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:0px 6px 14px rgba(0, 0, 0, 0.101960784313725);
  -webkit-box-shadow:0px 6px 14px rgba(0, 0, 0, 0.101960784313725);
  box-shadow:0px 6px 14px rgba(0, 0, 0, 0.101960784313725);
}
#u226.c {
}
#u226_text.c {
}
#u226 .text.c {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u227.c {
}
#u227_img.c {
}
#u227.c {
}
#u227_text.c {
}
#u227 .text.c {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.d {  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u226.d {
}
#u226_div.d {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:546px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:0px 6px 14px rgba(0, 0, 0, 0.101960784313725);
  -webkit-box-shadow:0px 6px 14px rgba(0, 0, 0, 0.101960784313725);
  box-shadow:0px 6px 14px rgba(0, 0, 0, 0.101960784313725);
}
#u226.d {
}
#u226_text.d {
}
#u226 .text.d {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u227.d {
}
#u227_img.d {
}
#u227.d {
}
#u227_text.d {
}
#u227 .text.d {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.e {  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u226.e {
}
#u226_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:546px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:0px 6px 14px rgba(0, 0, 0, 0.101960784313725);
  -webkit-box-shadow:0px 6px 14px rgba(0, 0, 0, 0.101960784313725);
  box-shadow:0px 6px 14px rgba(0, 0, 0, 0.101960784313725);
}
#u226.e {
}
#u226_text.e {
}
#u226 .text.e {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u227.e {
}
#u227_img.e {
}
#u227.e {
}
#u227_text.e {
}
#u227 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
